input {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

p {
    text-align: right;
}

button {
    margin: auto 0;
    width: 5rem;
}

.container {
    width: 40rem;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    font-size: 16pt;
}